{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}

    <div class="container" xmlns="http://www.w3.org/1999/html">

    <br/>
        <div class="row">
            <div class="cards col-md-12">
                <section class="card card-list card-list-latest compact">
                    <header>
                <h2 title="אודות">
                    אודות
                </h2>
                        </header>
<ul>
                <li>
                    ועדת שרים פתוחה הוא פרויקט שנועד לחשוף את דפוס ההצבעה של השרים בועדת השרים לענייני חקיקה.

                </li>
                <li>
                    ועדת השרים לענייני חקיקה היא וועדת שרים בה נקבעת עמדת הקואליציה לגבי הצעות החוק המוגשות בכנסת.
                    מכיוון
                    שלקואליציה יש רוב מובנה בכנסת, ועדת השרים לענייני חקיקה משמשת כ"שומר הסף" לכל תהליך החקיקה בישראל.
                    כיום, ועדת השרים מתנהלת בחוסר שקיפות קיצוני ואין לציבור גישה לדפוס ההצבעה של שרי הועדה או אפילו
                    לפרוטוקול הועדה.
                    הסדנא לידע ציבורי שמה לעצמה למטרה זה זמן רב לקדם את השקיפות בועדה, ועיקר המאמצים נעשו בתחום קשרי
                    הממשל.
                    </li>
    <li>
                            היוזמה החלה בממשלה ה-33, כאשר ציפי לבני עמדה בראשות הועדה ופעלה למען שקיפות בועדה.<br/>
                            לצפייה בהצבעות הממשלה הקודמת:
                            <a href="http://old.vaadat-sarim.org.il/">ועדת שרים פתוחה - הממשלה ה-33</a>
                        </li>

        </ul>


        </section>
                <section class="card card-list card-list-latest compact">
                    <header title="אודות">
                        <h2>
                        תנאי שימוש
                            </h2>
                    </header>
                    <ul>
                        <li>
                            השימוש באתר על אחריות המשתמש בלבד.
                        </li>
                        <li>
                            כל המידע באתר מבוסס על הודעות שרים שחשפו את הצבעותיהם.
                        </li>
                        <li>
                            באופן כללי, אל תעשו דברים לא חוקיים או לא נחמדים.
                        </li>
                        <li>
                            על כל פרסום (מקוון או לא מקוון. לרבות עיתונים, בלוגים, אתרים) המשתמש בנתונים מהאתר, לציין
                            זאת. אם מדובר בפרסום מקוון - עליכם לקשר לאתר ועדת שרים פתוחה. בשום אופן אין ליצור מצג כאילו
                            "ועדת שרים פתוחה" או מי מטעמה מקבל את המסקנות העולות מהניתוח שלכם, או תומך באופן כלשהו
                            בפרשנות שלכם לנתונים.
                        </li>
                    </ul>
                </section>


            </div>
        </div>
    </div>


{% endblock %}
