{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}

    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h2 title="אודות">
                    אודות
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>
                    ועדת שרים פתוחה הוא פרויקט שנועד לחשוף את דפוס ההצבעה של השרים בועדת השרים לענייני חקיקה.

                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                וועדת שרים לענייני חקיקה היא וועדת שרים בה נקבעת עמדת הקואליציה לגבי הצעות החוק המוגשות בכנסת. מכיוון
                שלקואליציה יש רוב מובנה בכנסת, וועדת השרים לענייני חקיקה משמשת כ"שומר הסף" לכל תהליך החקיקה בישראל.
                כיום, וועדת השרים מתנהלת בחוסר שקיפות קיצוני ואין לציבור גישה לדפוס ההצבעה של שרי הוועדה או אפילו
                לפרוטוקול הוועדה.
                הסדנא לידע ציבורי שמה לעצמה למטרה זה זמן רב לקדם את השקיפות בוועדה, ועיקר המאמצים נעשו בתחום קשרי הממשל.
                <br/>
                <br/>
                עם מינוי ציפי לבני לשרת המשפטים, המכהנת כיו"ר ועדת השרים לענייני חקיקה, נראה היה כי יחולו שינויים
                משמעותיים במדיניות הוועדה אך מאמציה של לבני לא העלו פרי וכיום אין בוועדה רוב להחלת שקיפות בדיוני הוועדה.
                זאת בתואנה שיש לעגן את המדיניות בתקנון הממשלה ולא בחקיקה, אך נכון לעכשיו השינוי בתקנון הממשלה מתעכב שוב
                ושוב. יש לציין כי שרי "יש עתיד" מתנגדים למדיניות השקיפות מחשש ל"פופוליזם" בהתנהלות הוועדה.
                    </h4>
            </div>
        </div>


    </div>


{% endblock %}