{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}

    <div class="container">

        <div class="row">
            <div class="cards col-md-12">
                <section class="card card-list card-list-latest compact">
                    <header>
                        <h2 title="שם ההצעה">
                            הצעות חוק
                        </h2>
                    </header>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-right">
                                שם ההצעה
                            </th>

                        </tr>
                        </thead>
                        {% for b in bills %}

                            <tr>
                                <td><a href="{% url 'bill' b.id %}">{{ b.name }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>

                </section>

            </div>
        </div>


    </div>


{% endblock %}