{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="cards col-md-12">
                <section class="card card-list card-list-latest compact">
                    <header>
                        <h2>
                            רקע
                        </h2>
                    </header>
                    <ul>
                        <li>
                            וועדת שרים לענייני חקיקה היא המקום בו הממשלה מחליטה האם היא תומכת או מתנגדת להצעות חוק. כל
                            הצעות
                            החוק עוברות דרך הוועדה, וללא תמיכת הממשלה אין להצעת החוק כמעט שום סיכוי לעבור בכנסת. הוועדה
                            מתנהלת
                            בחוסר שקיפות חריג, כך שכל המידע באתר נמסר מרצונם החופשי של שרים החברים בוועדה ותומכים
                            בשקיפות.
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="cards col-md-6">
                <section class="card card-list card-list-latest compact">
                    <header>
                        <h2>
                            הצעות אחרונות
                        </h2>
                    </header>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="text-right">
                                שם ההצעה
                            </th>

                        </tr>
                        </thead>
                        {% for b in bills %}

                            <tr>
                                <td>
                                    <a href="{% url 'bill' b.id %}">
                                        {{ b.name }}
                                        <button class="btn btn-info pull-left">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <div class="pull-left">
                                    <a href="{% url 'bills' %}" class="btn btn-primary pull-left" role="button">
                                        עוד
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </table>
                </section>


            </div>
            <div class="cards col-md-6">
                <section class="card card-list card-list-latest compact">
                    <header>
                        <h2>
                            שרים
                        </h2>
                    </header>
                <ul>
                    <li>

                    <div class="ministers">
                    {% for m in ministers %}
                        {% if not m.coop %}
                            <div class="minister-photo disabled">

                            <a href="#notCoop" data-toggle="modal">
                        {% else %}
                            <div class="minister-photo">

                            <a href="{% url 'minister' m.id %}">
                        {% endif %}
                    <img src="{{ MEDIA_URL }}{{ m.photo }}-s.jpg">
                    {{ m.name }}
                    </a>
                    </div>



                    {% endfor %}
                        </div>
                    </li>
                </ul>
                </section>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="notCoop" tabindex="-1" role="dialog" aria-labelledby="notCoopLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        שר זה אינו חושף את הצבעותיו!
                        <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">
                            סגור
                        </button>
                    </p>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}