{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h3>
                הצעות אחרונות
            </h3>
        </div>

        <div class="col-md-3">
            <h3>
                שרים
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-right">
                        שם ההצעה
                    </th>
                    <th class="text-right">
                        תוכן ההצעה
                    </th>
                </tr>
                </thead>
                {% for b in bills %}

                <tr>

                    <td><a href="{% url 'detail' b.id %}">{{b.name}}</a></td>

                    <td>{{b.description}}</td>


                </tr>
                {% endfor %}
            </table>

        </div>
        <div class="col-md-3">

            <table class="table table-hover">
                <thead>
                <th>
                    שם השר
                </th>
                </thead>
                {% for m in ministers %}
                <tr>
                    <td><a href="{% url 'minister' m.id %}">{{m.name}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    {% endblock %}