{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">


    <div class="row">
        <div class="cards col-md-12">
        <section class="card card-list card-list-latest compact">
        <header>

            <h2>
               ישיבת הועדה שנערכה בתאריך {{ meeting.took_place }}
            </h2>
        </header>


        <h3>
            הצבעות השרים
        </h3>
                    {% include "committeeVotes/meeting_ministers.html" with is_index=False %}

                    <h3>
הצעות החוק שעלו בישיבה
            </h3>


            <table class="table table-hover">
                <thead>
                <th>
                    שם ההצעה
                </th>
                <th>
החלטת הועדה
                </th>
                </thead>
                {% for b in bills %}
                <tr>
                    <td>
                        <a href="{% url 'bill' b.id %}">
                            {{b}}
                        </a>
                    </td>
                    <td class="minister-vote {{ b.passed | yesno:"yay,nay" }}">
                        {{ b.passed | yesno:"בעד,נגד" }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
        </div>
    </div>
</div>


{% endblock %}