{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">


    <div class="row">
        <div class="cards col-md-12">
        <section class="card card-list card-list-latest compact">
        <header>

            <h2>
               ישיבת הועדה שנערכה בתאריך {{ meeting.took_place }}
            </h2>
        </header>


        <h3>
            הצבעות השרים
        </h3>
                         <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right">
שרים שחשפו את הצבעותיהם
                            </th>

                        </tr>
                        </thead>
                        <tr>
                            <td>
                              {% for m in votingMinisters %}

                                <div class="minister-photo">
                                  <a href="{% url 'minister' m.id %}">
                                    {% if 'http' in m.photo %}
                                        <img src="{{ m.photo }}.jpg" style="width: 75px; height: 110px">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}{{ m.photo }}-s.jpg">
                                    {% endif %}
                                    {{ m }}
                                  </a>
                                </div>
                                {% endfor %}

                            </td>
                        </tr>

                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right">
שרים שלא חשפו את הצבעותיהם
                            </th>

                        </tr>
                        </thead>
                        <tr>
                            <td>
                              {% for m in nonVotingMinisters %}

                                <div class="minister-photo disabled">
                                  <a href="{% url 'minister' m.id %}">
                                    {% if 'http' in m.photo %}
                                        <img src="{{ m.photo }}.jpg" style="width: 75px; height: 110px">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}{{ m.photo }}-s.jpg">
                                    {% endif %}
                                    {{ m }}
                                  </a>
                                </div>
                                {% endfor %}

                            </td>
                        </tr>

                    </table>
                    <h3>
הצעות החוק שעלו בישיבה
            </h3>


            <table class="table table-hover">
                <thead>
                <th>
                    שם ההצעה
                </th>
                </thead>
                {% for b in bills %}
                <tr>
                    <td><a href="{% url 'bill' b.id %}">{{b}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        </div>
    </div>
</div>


{% endblock %}