{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    {% load staticfiles %}

    <div class="container">


        <div class="row">
            <div class="cards col-md-8">
                <div class="pull-left">
                    {% if minister.twitter %}
                        <a href="{{ minister.twitter }}" target="_blank" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
                        </a>
                    {% endif %}
                    {% if minister.facebook %}
                        <a href="{{ minister.facebook }}" target="_blank" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
                        </a>
                    {% endif %}
                    {% if minister.mail %}
                        <a href="mailto:{{ minister.mail }}" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
                        </a>
                    {% endif %}
                    {% if minister.phone %}
                        <a class="fa-stack fa-lg" title="{{ minister.phone }}">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-phone fa-inverse fa-stack-1x"></i>
                        </a>
                    {% endif %}
                    {% if minister.oknesset %}
                        <a href="{{ minister.oknesset }}" target="_blank" class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-institution fa-inverse fa-stack-1x"></i>
                        </a>
                    {% endif %}
                </div>
                <h2 class="minister-title">
                    {{ minister.name }}
                </h2>
                <hr class="minister-hr">

                {% if minister.title %}
                <h3 class="minister-view">
                    {{ minister.title }}
                </h3>
                {% endif %}

                {% if not minister.coop %}
                    <h3>
                        שר זה אינו חושף את הצבעותיו!
                    </h3>
                {% else %}
                    {% if votes %}
                        <section class="card card-list card-list-latest compact">
                            <header>
                                <h2>
                                    הצבעות
                                </h2>
                            </header>


                            <table class="table table-hover">
                                <thead>
                                <th>
                                    שם ההצעה
                                </th>
                                <th>
                                    הצביע
                                </th>
                                </thead>
                                {% for v in votes %}
                                    <tr>
                                        <td><a href="{% url 'bill' v.bill.id %}">{{ v.bill }}</a></td>
                                        <td class="minister-vote {{ v.vote | vote_style }}">{{ v.vote }}</td>
                                    </tr>
                                {% endfor %}


                            </table>
                             <div class="pagination">
                                    <ul class="pagination pagination-centered">
                                        {% if votes.has_previous %}
                                            <li><a href="?page=1"><<</a></li>
                                            <li><a href="?page={{ votes.previous_page_number }}"><</a></li>
                                        {% endif %}


                                        {% for i in votes.paginator.page_range %}
                                            <li  class="
                                                {% if votes.number == i %} active {% endif %}
                                                {% if votes.number < i|add:-2 %} hidden {% endif %}
                                                {% if votes.number > i|add:2 %} hidden {% endif %}"
                                            >
                                                <a href="?page={{i}}">{{i}}</a>
                                            </li>
                                        {% endfor %}


                                    {% if votes.has_next %}
                                        <li><a href="?page={{ votes.paginator.page_range     }}">{{votes.paginator.num_pages}}</a></li>
                                        <li><a href="?page={{ votes.next_page_number }}">></a></li>
                                        <li><a href="?page={{ votes.paginator.num_pages }}">>></a></li>
                                    {% endif %}

                                    </ul>

                                </div>
                        </section>
                    {% else %}
                        <h3>
                                    אין הצבעות
                        </h3>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="pull-left">
                    {% if 'http' in minister.photo %}
                        <img src="{{ minister.photo }}.jpg">
                    {% else %}
                        <img src="{{ MEDIA_URL }}{{ minister.photo }}.jpg">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}