{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">


    <div class="row">
        <div class="col-md-8">
            <h2>
                {{ minister.name }}
            </h2>
{% if minister.votes.count == 0 %}
    <h3>
                                שר זה אינו חושף את הצבעותיו!
    </h3>
{% else %}
            <h3>
                הצבעות
            </h3>


            <table class="table table-hover">
                <thead>
                <th>
                    שם ההצעה
                </th>
                <th>
                    הצביע
                </th>
                </thead>
                {% for v in votes %}
                <tr>
                    <td><a href="{% url 'bill' v.bill.id %}">{{v.bill}}</a></td>
                    <td>{{v.vote}}</td>
                </tr>
                {% endfor %}
            </table>
{% endif %}
        </div>
    <div class="col-md-4">
        <div class="pull-left">
            <img src="{{ MEDIA_URL }}{{ minister.photo }}.jpg">
        </div>
    </div>
    </div>
</div>


{% endblock %}