.voteType {
    text-align: center;
}

.minister-photo {
    position: relative;
    height: 120px;
    width: 90px;
    display: inline-block;
    margin: 9px;
}

.minister-big-photo {
    position: relative;
    height: 450px;
    width: 300px;
    display: inline-block;
    margin: 15px;
}

