.voteType {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  font-family: 'Alef', Arial;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Alef', Arial ;
}

#search {
	text-align: right;
}

.search-name {
	font-weight: bold;
}

.search-type {
	float: left;
	color: #97969c;
	font-size: 11px;
}

.container .text-muted {
  margin: 20px 0;
}

.minister-photo {
    position: relative;
    height: 120px;
    width: 95px;
    display: inline-block;
    margin: 9px;
}

.minister-photo.disabled {

    opacity: 0.3;
  /*
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;

  transition:color .2s ease-out, background .2s ease-in;
  */
}
/*
.minister-photo.disabled:hover { background:red; }
*/

.minister-big-photo {
    position: relative;
    height: 450px;
    width: 300px;
    display: inline-block;
    margin: 15px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}


.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    text-transform: uppercase
}

.nav li + .nav-header {
    margin-top: 9px
}

.typeahead,
.tt-hint {
  width: 574px;
  height: 30px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}